<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>
<style>
    body{
        background-color: rgb(74, 132, 207);
    }
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
    }
    a{
        font-family: "Montserrat";
        text-decoration: none;
        font-size: 15pt;
        color: white;
        padding: 15px 25px ;
        background-color: rgb(154, 211, 79);
        border-radius: 50px;
        margin: 10px 0;
    }
</style>
<body>
    <div>
        <a href="/docs" class="link">Открыть документацию</a>
    <a href="https://skyrodev.ru">Открыть Front-End</a>
    </div>
</body>
</html>