<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Оплата заказа</title>

  <!--Подключение библиотеки для инициализации виджета ЮKassa-->
  <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 </head>
 <body>
  <!--Контейнер, в котором будет отображаться платежная форма-->
  <div id="payment-form"></div>
  <script>
    console.log({{payment_id}})
axios.post('/payments/?amount={{ amount }}&description={{ description }}').then((e) => {
    
  //Инициализация виджета. Все параметры обязательные.
  const checkout = new window.YooMoneyCheckoutWidget({
      confirmation_token: e.data.confirmation.confirmation_token, //Токен, который перед проведением оплаты нужно получить от ЮKassa
      return_url: 'https://backend.skyrodev.ru/payments/payment-status/' + e.data.id, //Ссылка на страницу завершения оплаты, это может быть любая ваша страница

      //При необходимости можно изменить цвета виджета, подробные настройки см. в документации
       customization: {
        //Настройка цветовой схемы, минимум один параметр, значения цветов в HEX
        colors: {
            //Цвет акцентных элементов: кнопка Заплатить, выбранные переключатели, опции и текстовые поля
            control_primary: '#00BF96', //Значение цвета в HEX

            //Цвет платежной формы и ее элементов
            background: '#F2F3F5' //Значение цвета в HEX
        }
      },
      error_callback: function(error) {
          console.log(error)
      }
  });

  //Отображение платежной формы в контейнере
  checkout.render('payment-form');
})

  </script>
 </body>
</html>
